<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" version="4.0">
  <display-name>web-ex</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <jsp-config>
  	<jsp-property-group>
  		<url-pattern>*.jsp</url-pattern>
  		<include-prelude>/WEB-INF/taglib.jsp</include-prelude>
  	</jsp-property-group>
  </jsp-config>
  
  <!-- servlet-class Mapping -->
  	<servlet>
		<servlet-name>ServiceServlet</servlet-name>
		<servlet-class>controller.ServiceServet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ServiceServlet</servlet-name>
		<url-pattern>/Service</url-pattern>
	</servlet-mapping>
  
  <!-- <servlet>
		<servlet-name>joinFormAction</servlet-name>
		<servlet-class>user.controller.JoinFormAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>joinFormAction</servlet-name>
		<url-pattern>/api/user/join</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>loginFormPro</servlet-name>
		<servlet-class>user.controller.LoginFormAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginFormPro</servlet-name>
		<url-pattern>/loginFormPro</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>mypagePro</servlet-name>
		<servlet-class>user.controller.MypageFormAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>mypagePro</servlet-name>
		<url-pattern>/mypagePro</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>logout</servlet-name>
		<servlet-class>user.controller.LogoutAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>memberListAction</servlet-name>
		<servlet-class>user.controller.ListAction</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>memberListAction</servlet-name>
		<url-pattern>/api/user/memberList</url-pattern>
	</servlet-mapping> -->
	
  <!-- jsp file Mapping -->
  <servlet>
		<servlet-name>index</servlet-name>
		<jsp-file>/index.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>index</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>header</servlet-name>
		<jsp-file>/header.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>header</servlet-name>
		<url-pattern>/header</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>footer</servlet-name>
		<jsp-file>/footer.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>footer</servlet-name>
		<url-pattern>/footer</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>joinForm</servlet-name>
		<jsp-file>/views/user/joinForm.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>joinForm</servlet-name>
		<url-pattern>/join</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>loginForm</servlet-name>
		<jsp-file>/views/user/loginForm.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>loginForm</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>mypage</servlet-name>
		<jsp-file>/views/user/mypage.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>mypage</servlet-name>
		<url-pattern>/mypage</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>memberList</servlet-name>
		<jsp-file>/views/user/memberList.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>memberList</servlet-name>
		<url-pattern>/memberList</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>board</servlet-name>
		<jsp-file>/views/board/board.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>board</servlet-name>
		<url-pattern>/board</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>boardContents</servlet-name>
		<jsp-file>/views/board/boardContents.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>boardContents</servlet-name>
		<url-pattern>/boardContents</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>boardCreate</servlet-name>
		<jsp-file>/views/board/boardCreate.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>boardCreate</servlet-name>
		<url-pattern>/boardCreate</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>boardUpdate</servlet-name>
		<jsp-file>/views/board/boardUpdate.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>boardUpdate</servlet-name>
		<url-pattern>/boardUpdate</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>boardDelete</servlet-name>
		<jsp-file>/views/board/boardDelete.jsp</jsp-file>
	</servlet>

	<servlet-mapping>
		<servlet-name>boardDelete</servlet-name>
		<url-pattern>/boardDelete</url-pattern>
	</servlet-mapping>
  
</web-app>